.App {
  background-color: var(--bg);
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

h1 {
  font-size: calc(10px + 2vmin);
  font-weight: 600;
}

form, label{
  display: flex;
  flex-direction: column;
}

label, input[type=submit]{
  margin: 10px;
}