.App {
  background-color: lightgray;
  display: flex;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
}

.App-header {
  font-size: calc(10px + 2vmin);
  color: black;
  font-weight: 600;
}

.grid-container {
  display: flex;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
} 